.loading:hover {
  cursor: progress !important;
}
.loading tr:hover {
  cursor: progress !important;
}
.rb-button,
.rb-button3 {
  display: inline-block;
  min-width: 210px;
  text-align: center;
  background: #49004a;
  background: linear-gradient(to bottom, rgba(73, 0, 74, 0.8) 0%, #49004a 100%);
  color: #fff;
  border: none;
  border-radius: 0px;
  font-size: 14px;
  padding: 6px 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.rb-button:hover,
.rb-button3:hover {
  text-shadow: 0px 0px 8px #fff;
  cursor: pointer;
}
.rb-button3 {
  min-width: 200px;
  width: 200px;
  margin-right: 0px;
  margin-left: 5px;
}
.rb-button3:first-child {
  margin-left: 0px;
}
.rb-mini-button {
  display: inline-block;
  min-width: 30px;
  text-align: center;
  background: #49004a;
  background: linear-gradient(to bottom, rgba(73, 0, 74, 0.8) 0%, #49004a 100%);
  color: #fff;
  border: none;
  border-radius: 0px;
  font-size: 14px;
  padding: 2px 5px 1px 5px;
}
.rb-mini-button:hover {
  text-shadow: 0px 0px 8px #fff;
  cursor: pointer;
}
button.rb-button,
input.rb-button,
button.rb-button3,
input.rb-button3 {
  padding: 8px 5px 7px 5px;
}
#search-option-container,
.input-container {
  margin-top: 10px;
}
.select-with-symbols {
  font-size: 12px !important;
}
select,
input:not([type="submit"]) {
  min-height: 24px;
}
.rb-readonly {
  background: #DADADA;
}
.color-green {
  color: #167F16;
}
.color-red {
  color: #E61616;
}
#header-line {
  min-width: 640px;
}
#container {
  min-width: 640px;
  min-height: 600px;
  background: #e5daf2;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 30px;
}
#title {
  color: #49004a;
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}
#course-detail-container ul {
  display: inline-block;
  max-width: 600px;
  float: left;
  font-size: 12px;
  margin-right: 10px;
  list-style-type: none;
  margin-bottom: 10px;
}
.table-attendance table {
  font-size: 15px;
  border-collapse: collapse;
}
.table-attendance table,
.table-attendance th,
.table-attendance td {
  border: 2px solid #614061;
}
.table-attendance th,
.table-attendance td {
  padding: 4px;
}
.table-attendance .td-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 72px;
  max-width: 250px;
}
.table-attendance th {
  background: #8A5C8B;
  background: linear-gradient(to bottom, #8A5C8B 0%, #7C537D 100%);
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.table-attendance tr:nth-child(even) {
  color: #000;
  background: #fff;
}
.table-attendance tr:nth-child(odd) {
  color: #000;
  background: #DBCBDB;
}
.table-attendance .td-center {
  text-align: center;
}
.rb-checkbox {
  padding: 0px 10px;
}
.rb-checkbox input {
  width: 22px;
}
.rb-checkbox-extended {
  padding: 0px 20px;
}
.rb-checkbox-extended input {
  width: 22px;
}
