.loading:hover {
  cursor: progress !important;
}
.loading tr:hover {
  cursor: progress !important;
}
.rb-button,
.rb-button3 {
  display: inline-block;
  min-width: 210px;
  text-align: center;
  background: #49004a;
  background: linear-gradient(to bottom, rgba(73, 0, 74, 0.8) 0%, #49004a 100%);
  color: #fff;
  border: none;
  border-radius: 0px;
  font-size: 14px;
  padding: 6px 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.rb-button:hover,
.rb-button3:hover {
  text-shadow: 0px 0px 8px #fff;
  cursor: pointer;
}
.rb-button3 {
  min-width: 200px;
  width: 200px;
  margin-right: 0px;
  margin-left: 5px;
}
.rb-button3:first-child {
  margin-left: 0px;
}
.rb-mini-button {
  display: inline-block;
  min-width: 30px;
  text-align: center;
  background: #49004a;
  background: linear-gradient(to bottom, rgba(73, 0, 74, 0.8) 0%, #49004a 100%);
  color: #fff;
  border: none;
  border-radius: 0px;
  font-size: 14px;
  padding: 2px 5px 1px 5px;
}
.rb-mini-button:hover {
  text-shadow: 0px 0px 8px #fff;
  cursor: pointer;
}
button.rb-button,
input.rb-button,
button.rb-button3,
input.rb-button3 {
  padding: 8px 5px 7px 5px;
}
#search-option-container,
.input-container {
  margin-top: 10px;
}
.select-with-symbols {
  font-size: 12px !important;
}
select,
input:not([type="submit"]) {
  min-height: 24px;
}
.rb-readonly {
  background: #DADADA;
}
.color-green {
  color: #167F16;
}
.color-red {
  color: #E61616;
}
#header-line {
  min-width: 665px;
}
#container {
  min-width: 665px;
  min-height: 600px;
  background: #e5daf2;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 30px;
}
.title {
  color: #49004a;
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}
#search-option-container {
  display: inline-block;
  padding: 4px 10px 0px 10px;
  border: 1px solid #c3bace;
  margin-bottom: 10px;
  margin-top: 0px;
}
#search-option-container input[type="submit"] {
  margin-bottom: 0px;
}
#search-option-container form label {
  display: inline-block;
  min-width: 80px;
  font-size: 14px;
}
#search-option-container form input:not([type="submit"]):not(.rb-button),
#search-option-container form select {
  padding: 2px 8px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 150px;
  border-radius: 4px;
  border: 1px solid rgba(73, 0, 74, 0.3);
  font-size: 14px;
  box-sizing: border-box;
}
#search-option-container form #search-option-row2 {
  display: inline-block;
}
#search-option-container form #search-option-row2 label,
#search-option-container form #search-option-row2 select {
  margin-bottom: 4px;
}
#clear-button {
  min-width: 219px;
}
#search-button {
  min-width: 219px;
}
#button-bar1 {
  display: block;
}
#begin_date1,
#end_date1 {
  padding: 3px 3px;
}
#rb-container {
  min-width: 665px;
}
.input-row label {
  vertical-align: top;
  display: inline-block;
  width: 130px;
  font-size: 14px;
}
#input-column1 {
  float: left;
  margin-right: 20px;
}
#input-column2 {
  display: inline-block;
  margin-right: 20px;
}
#input-column3 {
  vertical-align: top;
  display: inline-block;
}
#search-option-row2 {
  display: inline-block;
}
#search-option-row2-from {
  min-width: 66px;
  margin-left: -5px;
}
#search-option-row2-to {
  min-width: 64px;
  margin-left: -2px;
}
.input-row input:not([type="submit"]),
form select,
form textarea {
  padding: 2px 8px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 340px;
  border-radius: 4px;
  border: 1px solid rgba(73, 0, 74, 0.3);
  font-size: 14px;
  box-sizing: border-box;
}
textarea {
  resize: vertical;
}
.rb-button {
  display: inline-block;
  text-align: center;
  background: #49004a;
  background: linear-gradient(to bottom, rgba(73, 0, 74, 0.8) 0%, #49004a 100%);
  color: #fff;
  border: none;
  border-radius: 0px;
  font-size: 14px;
  padding: 6px 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 210px;
}
.rb-button a {
  display: block;
  padding: 6px 15px;
}
.rb-button p {
  padding: 6px 15px;
}
input.rb-button {
  padding: 8px 15px;
}
button.rb-button {
  padding: 8px 15px;
}
#button-bar2 {
  margin-top: 15px;
  display: block;
}
#c-save-message {
  margin-top: 20px;
  display: inline-block;
  max-width: 800px;
}
.status-active {
  font-size: 20px;
  font-weight: bold;
  color: green;
}
.status-inactive {
  font-size: 20px;
  font-weight: bold;
  color: red;
}
.rb-table {
  margin-top: 10px;
}
.rb-table table {
  font-size: 13px;
  border-collapse: collapse;
}
.rb-table table,
.rb-table th,
.rb-table td {
  border: 2px solid #614061;
}
.rb-table th,
.rb-table td {
  padding: 2px 4px;
}
.rb-table .td-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 60px;
  max-width: 250px;
}
.rb-table tr:not(:first-child):hover {
  cursor: cell;
}
.rb-table th {
  background: #8A5C8B;
  background: linear-gradient(to bottom, #8A5C8B 0%, #7C537D 100%);
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.rb-table tr:nth-child(even) {
  color: #000;
  background: #fff;
}
.rb-table tr:nth-child(odd) {
  color: #000;
  background: #DBCBDB;
}
.rb-table .td-center {
  text-align: center;
}
.rb-table .ui-selecting {
  background: #94B8FF !important;
}
.rb-table .ui-selected {
  background: #6699FF !important;
  color: #fff !important;
}
